.row > div {
    padding: 0 4px !important;
  }
  
  img {
    margin-top: 8px;
    vertical-align: middle;
  }

  .gallery{
      padding-top: 10em;
      padding-bottom: 5em;
    

  }
  .gallery h1{
      color: #26386A;
      padding: 1em;
      font-size: 2.5rem;
      text-align: left;

  }